language = "python"
entrypoint = "main.py"
modules = ["python-3.11"]

[env]
FLASK_ENV = "development"

[unitTest]
language = "python"

[run]
# Primary run command using Poetry (if using poetry to manage dependencies)
command = "poetry run flask run --host=0.0.0.0 --port=5000"

[nix]
channel = "stable"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gobject-introspection", "gtk3", "pkg-config", "qhull", "tcl", "tk"]

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true
