{ pkgs }: {
  deps = [
    pkgs.SDL2
    pkgs.portaudio
    pkgs.alsa-lib
    pkgs.ffmpeg-full
    pkgs.libGL
    pkgs.libGLU
    pkgs.freetype
    pkgs.pkg-config
    pkgs.tcl
    pkgs.tk
    pkgs.python311Packages.sounddevice
  ];
}